<div class="container">
  <h1 class="text-center home">The Original 151 Pokemon</h1>
  <p class="text-center">

  </p>

  <% pokemon.forEach(function(pokemon,i) { %>
    <div class="well text-center">
      <h2><%= pokemon.name %></h2>
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/<%=i+1%>.svg">
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <input hidden type="text" name="pokeId" value="<%= i+1 %>">
        <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
    </div>
  <% }); %>
</div>
